apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx-example
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
        - name: nginx-template-volume
          configMap:
            name: nginx-index-template
            items:
            - key: index.html.template
              path: index.html.template
      containers:
      - image: nginx:1.17.6
        name: nginx
        ports:
        - containerPort: 80
        env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - mountPath: "/etc/nginx/html-template/"
          name: nginx-template-volume
          readOnly: true
        command: ["/bin/sh", "-c", "cp /etc/nginx/html-template/index.html.template /usr/share/nginx/html/index.html && exec nginx -g 'daemon off;'"]
